#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

@font-face {
  font-family: tektur;
  src: url("./assets/fonts/tektur.ttf");
  font-display: swap;
}

@font-face {
  font-family: aquire;
  src: url("./assets/fonts/aquire.otf");
  font-display: swap;
}

[data-name="site-name"] {
  font-family: tektur;
}

[data-name="site-name"] > span {
  font-family: aquire;
}
